.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.row {
  flex-wrap: wrap;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: white;
}

.close {
  position: absolute;
  top: 21px;
  right: 21px;
  cursor: pointer;
  transition: 0.3s ease;
}

.left,
.right {
  flex-direction: column;
}

.left {
  flex-basis: 60%;
}

.right {
  flex-basis: 37%;
}

.img {
  flex-basis: 60%;
}

.img > img {
  width: 100%;
  padding-bottom: 29px;
}

.left {
  order: 1;
}

.left > input,
.left > button {
  display: block;
  font-size: 13px;
  width: 100%;
  outline: none;
  padding: 8px 11px;
}

.left > input {
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 3px;
  color: black;
  margin-bottom: 20px;
}

.left > input::placeholder {
  color: #cccccc;
}

.left > button {
  background: #4997d0;
  border-radius: 3px;
  color: white;
  border: none;
  cursor: pointer;
}

.name {
  font-size: 13px;
  color: #999999;
  padding-bottom: 5px;
}

.desc {
  font-size: 13px;
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .row {
    height: 100%;
    justify-content: flex-start;
    padding: 0;
  }
  .img {
    flex-basis: 100%;
  }
  .left {
    flex-basis: 100%;
  }
  .left > input,
  .left > button {
    margin: 20px;
    max-width: 90%;
  }
  .right {
    padding: 20px 20px 0 20px;
    flex-basis: 100%;
    padding: 20px;
  }
  .img > img {
    padding-bottom: 0;
    height: 100%;
  }
}
